body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}
h1 {
    font-size: 2rem;
    line-height: 1.3em;
}
.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.header{
    background: #333;
    color: white; 
    padding: 2rem 0;

    position: fixed;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    width: 100%;
    height: 100px;
    z-index: 5;
}
.header a {
    color: white;
    text-decoration:none;
}
#logo{
    margin: all;
    width:20%;
    height: 130px;
    background: url(/suri/full_logo.png)no-repeat right;
    float: left;
    margin-right: 50px;
}
 
#banner {
    margin: auto;
    width:76%;
    height: 100px;
    background-image: url(/suri/minilogo-blue.png) ;
    float: right;
    color:white;
}
 
#gif{
    margin: all;
    width:20%;
    height: 100px;
    background: url(/suri/minilogo-blue.png)no-repeat right;
    float: right;
    margin-right: 50px;
}



.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    letter-spacing: 15px;
    font-size: 1.4em;
}
.menu-icon {
    display: none;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li {
    display: inline-block;
}
.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navigation ul li a:hover {
    background:gray;

}

main {
    padding-top: 12rem;
}

.footer {
    background: gray;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}
.pie-footer{
    background: #000;
    width:100%;
    height: auto;
}
.titulo-footer{
    color: #fff;
   text-align: center;
   position: relative;
   top: 10px;
}
.span-subtitulo{
    color: rgb(244,246,85)
    
}